#imail {width:60%;
}
#imail {margin: left 25%;
}
#imail {border-color: black;
    border-width: 5px;
 border-style: double;
}
.parte01{background-color: rgb(180,116,116);
}
.parte02{background-color: rgb(72,65,65);
}